.titulo {
  background-color: #f4f4f4;
  padding: 20px;
  color: #003366;
  text-align: center; 
  margin: 0 auto; 
  max-width: 90%;
  border-bottom: 2px solid #003366;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100px; 
}

h1 {
  margin: 0;
  font-size: 2.5em;
  background-color: #003366;
  text-align: center; 
  line-height: 1.2; 
}

#gallery-container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 10px;
}

.blog-section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-section:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.photo-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px; 
}

.photo-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.photo {
  width: 90%; 
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.photo-description {
  font-size: 1.3em; 
  color: #333;
  line-height: 1.8; 
  text-align: justify; 
  margin: 20px 30px 20px 30px; 
  padding: 10px; 
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.photo-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #666;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.photo-info .date {
  font-weight: bold;
  color: #333;
}

.photo-info .time {
  font-weight: 600;
  color: #333;
}

#gallery {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

@media (max-width: 800px) {
  .blog-section {
      padding: 15px;
  }

  .photo-description {
      font-size: 1.1em; 
      margin: 15px 10px; 
      line-height: 1.6;
      padding: 8px; 
  }

  .photo {
      width: 95%;
  }
}
